.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #bdb2ff;
  border: 3px solid #a0c4ff;
  border-radius: 10px;
  color: white;
  text-align: center;
}
